#modalDoneOrdering .icon-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

#modalDoneOrdering .modal-empty {
    padding: 34px 24px;
}

#modalDoneOrdering .warning {
    min-width: 22px !important;

}

#modalDoneOrdering p {
    font-family: "Plus Jakarta Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    width: 192px;
    margin: 0;
}