.menu-list-wrapper .menu-list-item {
  max-width: 1080px;
  background: #FFF;
  padding: 16px 0;
  position: relative;
  border-bottom: 1px solid #DADEE2;
}

.menu-list-wrapper .menu-list-item>.d-flex {
  width: 100%;
}

.menu-list-wrapper .menu-list-item:last-child {
  border-bottom: 0px;
}

.menu-list-wrapper .menu-list-item .item-img {
  width: 104px;
  height: 74px;
  position: relative;
  z-index: 1;
}

.menu-list-wrapper .menu-list-item .accordion-button:not(.collapsed) .item-img,
.menu-list-wrapper .menu-list-item .accordion-button:not(.collapsed) .icon-alergens {
  display: none;
}

.menu-list-wrapper .menu-list-item .accordion-button {
  padding: 1rem 0.25rem;
}

.menu-list-wrapper .menu-list-item .accordion-button .item-left-text {
  display: flex;
  align-items: center;
}

.item-left-text .left-text-block {
  width: 100%;
}

.menu-list-wrapper .menu-list-item .accordion-button {
  width: 80%;
}

.menu-list-wrapper .menu-list-item .accordion-item {
  position: relative;
}

.menu-list-wrapper .menu-list-item .accordion-header {
  height: 108px;
  display: flex;
  align-items: center;
}

/* .menu-list-wrapper .menu-list-item  .addimage {
     position: absolute;
    top: 43px;
    right: 2%;
    z-index: 4; 
} */

.now-tile .menu-list-wrapper .menu-list-item .addimage {
  position: unset;
}

.menu-list-wrapper .menu-list-item .accordion-button:not(.collapsed),
.menu-list-wrapper .menu-list-item .accordion-button:focus {
  background-color: #ffffff;
  box-shadow: none;
  border-radius: none;
}

.menu-list-wrapper .menu-list-item .accordion-item {
  border: none;
}

.menu-list-wrapper .menu-list-item .accordion {
  width: 100%;
}

.menu-list-wrapper .menu-list-item .accordion-body {
  display: flex;
  align-items: center;
}

.menu-list-wrapper .menu-list-item .accordion-body .small-view-img {
  width: 30%;
  padding-bottom: 0;
}

.menu-list-wrapper .menu-list-item .accordion-body img {
  object-fit: cover;
  width: 100%;
}

.menu-list-wrapper .menu-list-item .accordion-body h6 {
  margin-left: 20px;
  text-align: center;
}

.menu-list-wrapper .menu-list-item .accordion-button::after {
  background-image: none;
}

.all-items.menu-list-popup {
  min-height: unset !important;
}

.menu-list-popup .menu-list-item .item-img {
  max-width: 76px;
  width: 100%;
  height: 76px;
  position: relative;
}

.menu-list-wrapper .menu-list-item .item-img img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.menu-list-popup .menu-list-item .item-img img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.menu-list-wrapper .menu-list-item .item-img .count-number {
  width: 25px;
  height: 25px;
  background-color: #da1a35;
  border-radius: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 700;
  position: absolute;
  top: -6px;
  transition: all ease 0.3s;
  opacity: 0;
  visibility: hidden;
}

/* .open .menu-list-wrapper .menu-list-item .item-img .count-number{
  opacity:1;
  visibility: visible;
} */
.menu-list-wrapper .menu-list-item.show .item-img .count-number {
  opacity: 1;
  visibility: visible;
  z-index: 9;
}

.menu-list-item .item-img .promo-tag {
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 10px;
  font-weight: 700;
  padding: 3px;
  border-radius: 0px 0px 8px 8px;
}

.menu-list-wrapper .menu-list-item .item-img .promo-tag.promo-tag-blue {
  background-color: var(--color-blue);
}

.menu-list-wrapper .menu-list-item .item-img .promo-tag.promo-tag-yellow {
  background-color: var(--color-yellow);
}

.menu-list-wrapper .menu-list-item .item-img .promo-tag.promo-tag-orange {
  background-color: var(--color-orange);
}

.menu-list-wrapper .menu-list-item .item-img .promo-tag.promo-tag-red {
  background-color: var(--color-red);
}

.menu-list-item .item-content {
  position: relative;
  flex: 1;
  /* min-height: 100%; */
}

.menu-list-wrapper .menu-list-item.qty-open .item-content .item-inner-content {
  opacity: 0 !important;
  visibility: hidden;
  display: none !important;
}

.menu-list-wrapper .menu-list-item .item-content .item-inner-content {
  color: var(--color-dark);
  transition: all ease 0.3s;
  /* min-height: 100%; */
  width: 100%;
  cursor: pointer;
}

.accordion .count-number {
  position: absolute;
  right: -10px;
  top: -10px;
  background-color: #E84B31;
  color: white;
  width: 26px;
  height: 26px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  font-family: "Plus Jakarta Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.menu-list-wrapper .menu-list-item .item-content .item-inner-content .item-left-text p {
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  padding: 0;
}

.menu-list-wrapper .menu-list-item .item-content .item-inner-content .item-price {
  cursor: pointer;
  font-family: "Plus Jakarta Sans" !important;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  /* -webkit-box-decoration-break: clone;
  /* background-clip:text; */
  /* -webkit-background-clip: text;
-webkit-text-fill-color: transparent; */
}

.menu-list-wrapper .menu-list-item .details-bottom .item-content .item-inner-content .item-price {
  cursor: pointer;
  font-family: "Plus Jakarta Sans" !important;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  /* -webkit-box-decoration-break: clone;
  /* background-clip:text; */
  /* -webkit-background-clip: text;
-webkit-text-fill-color: transparent; */
}

.menu-list-item .item-content .item-inner-content .card-title {
  font-family: "Plus Jakarta Sans" !important;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.details-description {
  margin-top: 20px;
}

.details-description h6 {
  font-family: "Plus Jakarta Sans" !important;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #403B3B;
  word-break: break-all;
}

.menu-list-item .item-content .item-inner-content .card-title-small {
  font-family: "Plus Jakarta Sans" !important;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}


.menu-list-item .item-img {
  position: relative;
  width: 77px;
  height: 66px;
  margin-right: 14px;
}

.products-modal .menu-list-item {
  align-items: center;
  padding: 0;
}

.products-modal .menu-list-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.now-tile .menu-list-wrapper .menu-list-item .item-img {
  max-width: none;
  padding-bottom: 100%;
}

.now-tile .menu-list-wrapper .menu-list-item .item-img>img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-position: center;
  border-radius: 8px;
}

.now-tile .menu-list-wrapper .menu-list-item>.d-flex {
  display: block !important;
}

.now-tile .menu-list-wrapper .menu-list-item .item-content {
  position: absolute;
  bottom: 8px;
  width: calc(100% - 15px);
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0 0 10px 10px;
  min-height: auto;
  z-index: 3;
}

.now-tile .menu-list-wrapper .menu-list-item .item-content .item-inner-content h6 {
  margin-bottom: 0 !important;
  color: #fff;
}

.now-tile .menu-list-wrapper .menu-list-item .item-content .item-inner-content .item-left-text p {
  display: none;
}

.now-tile .menu-list-wrapper .menu-list-item .item-img .promo-tag {
  min-width: 64px;
  top: 0;
  bottom: auto;
  right: 0;
  left: auto;
  border-radius: 0;
  padding: 5px 8px;
}

.now-tile .menu-list-wrapper .menu-list-item {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  width: 100%;
  padding-right: 7px;
  padding-left: 7px;
  border: 0;
  display: block !important;
}

.now-tile .menu-list-wrapper .menu-list-item .item-content:hover {
  background: #da1a35;
}

.small-list-view {
  display: block;
  width: 100%;
  margin: 0;
}

.big-list-view {
  display: none;
}

.now-tile .small-list-view {
  display: none;
}

.now-tile .big-list-view {
  display: block;
}

.items-bill .menu-list-item {
  opacity: 0.7;
  pointer-events: none;
  /* -webkit-filter: grayscale(100%); */
  /* filter: grayscale(100%); */
}

.item-content .item-price {
  display: flex;
  flex-shrink: 0;
}

.addimage img {
  width: 30px !important;
  display: block;
  margin-left: auto;
}

.addimage.item-delet {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  position: relative;
  flex-shrink: 0;
}

.detail-right .addimage.item-delet {
  height: 72px;
  justify-content: space-between;
}

.item-delet.addimage img {
  width: auto !important;
  height: auto !important;
  margin-top: auto;
}

.addimage.text-center {
  display: flex;
}

.addimage.item-delet span {
  cursor: pointer;
}


.promo-collapse-wrapper {
  position: fixed;
  z-index: 10;
  width: 95%;
  background-color: #fff;
  display: block;
  top: 20px;
  min-height: calc(100vh - 63px);
  left: 50%;
  max-width: 100%;
  transform: translateX(-50%);
  padding-bottom: 73px;
  bottom: 20px;
}

/* .promo-collapse-wrapper
  .product-detail-wrapper
  .service-bar-toggle
  .order-listing
  .nav_overlay {
  display: block;
} */

.product-detail-wrapper {
  opacity: 0;
  visibility: hidden;
}

.open-detail .product-detail-wrapper {
  opacity: 1;
  visibility: visible;
}

.promo-banner .img-icons>img {
  width: 100%;
  height: 375px;
  object-fit: contain;
  object-position: top;
}

.promo-banner p {
  font-size: 12px;
  line-height: 15px;
  color: #9e9e9e;
  font-weight: 400;
  margin-bottom: 0;
}

.promo-banner .banner-content {
  max-height: 150px;
  overflow-y: auto;
  margin-bottom: 10px;
}

.promo-back img {
  width: auto;
  height: auto;
  position: absolute;
  padding: 10px;
}

.arrow-background {
  font-size: 21px !important;
  position: absolute;
  background: #8f7e67;
  border-radius: 100px;
  height: 34px;
  width: 34px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  top: 15px;
  left: 15px;
  cursor: pointer;
  z-index: 10;
}

.banner-content {
  padding: 30px 20px 0;
}

.width_head h2.menu-main-heading.mb-0 {
  width: 270px;
}

.menu-main-heading {
  color: #403B3B;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 166.667% */
  letter-spacing: -0.24px;
}

.menu-main-heading {
  margin-bottom: 30px !important;
}

.sub-roduct-name {
  color: #403B3B;
  font-family: "Plus Jakarta Sans";
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  /* 111.111% */
  letter-spacing: 1px;
  max-width: 1080px;
  margin: 0 auto 4px auto;
}

.scrollerdiv {
  /* padding-bottom: 100px; */
  /* max-height: calc(100vh - 73px); */
  /* height: 160px;
  overflow-y: auto; */
}

.promo-body-wrapper {
  padding: 0 0 4px 0;
}

.promo-footer {
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 1px 9px 8px #fafafa;
  padding: 17px 27px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

.add-cart-btn {
  border-radius: 29px;
  font-size: 14px;
  font-weight: 700;
  color: var(--color-dark);
  color: #ffffff;
}

.add-cart-btn:hover {
  background: var(--color-orange);
  border-color: var(--color-orange);
  color: #ffffff;
}

a.butn-sm.butn-orange.add-cart-btn.promo-cart-btn:hover {
  color: #fff;
}

.now-tile .add-cart-btn {
  min-width: 50px;
}

.promo-cart-btn {
  display: flex;
  max-width: 220px;
  width: 100%;
  min-height: 39px;
  align-items: center;
}

.modal.fade .modal-dialog.modal-dialog-zoom {
  -webkit-transform: translate(0, 0) scale(0.5);
  transform: translate(0, 0) scale(0.5);
}

.modal.show .modal-dialog.modal-dialog-zoom {
  -webkit-transform: translate(0, 0) scale(1);
  transform: translate(0, 0) scale(1);
}

.full-popup .modal-dialog {
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin: 0;
  border-radius: 0;
  height: 100%;
}

.note-wrapper label {
  font-weight: bold;
  font-size: 16px;
  color: #403b3b;
  line-height: 20px;
  margin-bottom: 10px;
}

.note-wrapper input {
  border: 1px solid #e9e9e9;
  border-radius: 8px;
  height: 58px;
  max-width: 600px;
}

.note-wrapper input {
  max-width: 100%;
}

.icon-alergens {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-alergens .alerg-img {
  max-width: 17px;
  margin-right: 8px;
}

.item-inner-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-price {
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0px 10px;
  color: #E7A536;
}

.detail-right .item-content .addimage .item-price.item-margin {
  margin-bottom: 40px;
}

.right-side>.icon-alergens {
  justify-content: start;
}

.above-image {
  position: absolute;
  z-index: 10;
  right: 0;
  margin: 10px 0;
}

.above-image>.icon-alergens {
  margin: 0 10px;
}

.img-icons {
  position: relative;
}

.promo-banner .alerg-icons-column {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.alerg-icons-column .icon-alergens {
  flex-direction: column;
}

/* __________________ Card details  */


/* Glow effects  */
.photo {
  position: absolute;
  top: 0;
  left: 0;
  /* transform: translate(-50%, -50%); */
  display: block;
  right: 50%;
  bottom: 0;
}

.photo .glow-wrap {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  margin-top: -10px;
}

.photo .glow {
  display: block;
  position: absolute;
  width: 40%;
  height: 200%;
  background: rgba(255, 255, 255, .2);
  top: 0;
  filter: blur(5px);
  transform: rotate(45deg) translate(-450%, 0);
  transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.photo.active .glow {
  transform: rotate(45deg) translate(450%, 0);
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.photo.active .glow-wrap {
  margin-top: 0;
}

/* Ends */

/* ---- Create Accordion --- */

.accordion {
  max-width: 1080px;
  height: fit-content;
  display: flex;
  overflow: hidden;
  pointer-events: none;
  transition: all 0.5s ease;
  /* max-height: 74px; */
}

.subcateclass {
  max-width: 1080px;
  margin: 0 auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  top: 0;
  background: #4f4f4f6b;
  width: 100%;
  border-radius: 12px;
}

.open-overlay {
  border-radius: 12px 12px 0 0;
}

.heart-img {
  position: absolute;
  right: 12px;
  top: 17px;
  background: #ffffff36;
  width: 24px;
  height: 24px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.tab {
  position: relative;
  width: 104px;
  height: inherit;
  color: #000000;
  cursor: pointer;
  pointer-events: auto;
  transition: width 0.5s ease;
  border-radius: 8px;
}

.tab .img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease;
}

.tab .item-img {
  transition: all 0.5s ease;
}

.detail-right .bottom-view-allergens {
  display: none;
}

.details-bottom .bottom-view-allergens {
  display: block;
}

.detail-right .item-content {
  display: flex;
  align-items: flex-start;
  transition: all 0.5s ease;
  height: 100%;
  flex-direction: column;
  max-width: 90%;
  justify-content: space-between;
}

.detail-right .item-content .addimage {
  position: inherit;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* height: 100%; */
  transition: all 0.5s ease;
  width: 100%;
}

.details-bottom .item-content .addimage {
  justify-content: space-between;
  flex-direction: column;
}

.detail-right .item-content .addimage .fa-plus-circle {
  cursor: pointer;
}

.detail-right .item-content .addimage .item-price {
  font-family: "Plus Jakarta Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.detail-right .item-content .addimage .item-price-margin {
  margin-bottom: 40px;
}

.detail-right .item-content .item-left-text {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
}

.detail-right {
  width: 100%;
  opacity: 1;
  margin-left: 12px;
  margin-top: 7px;
  pointer-events: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.detail-right .right {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: flex-end;
}

.details-bottom {
  opacity: 1;
  display: none;
  /* margin-top: 10px; */
  transition: all 0.5s ease;
}

.details-bottom .item-content .addimage .item-price {
  font-size: 16px;
  line-height: 19px;
}

.details-bottom .item-inner-content .alergens-addBtn {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.details-bottom .item-inner-content .title-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.details-bottom .item-inner-content .title-price h5 {
  color: #403B3B;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.small-list-view .details-bottom .description-cnt {
  width: 60%;
}

.details-bottom .item-inner-content .details h6 {
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.details-bottom .count-bottom {
  display: flex;
  justify-content: space-between;
}

.item-count-wrapper .quantity-value {
  color: white;
  text-align: center;
  font-family: "Plus Jakarta Sans" !important;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 25px;
  border: none;
}

.item-count-wrapper {
  justify-content: flex-end;
}

/* --- Hover Effects --- */

.tab.open .img {
  opacity: 1;
}

.tab.open .item-img {
  max-width: 100%;
}

.tab.open {
  width: 100%;
  max-width: 100%;
}

.accordion.open .detail-right .item-count-wrapper .quantity-value {
  width: 0;
}

.accordion.open {
  height: fit-content;
}

.tab.open {
  display: inline;
}

.heart-img.open {
  transition: all 0.5s ease;
  opacity: 1;
}

.tab.open .caption {
  transition: all 0.5s ease;
  opacity: 1;
}

.tab.open .item-img {
  transition: all 0.5s ease;
  height: 260px;
  width: 100%;
}

.tab.open~.detail-right {
  opacity: 0;
  width: 0;
  transition: all 0.5s ease;
  margin: 0;
  display: none;
}

.tab.open .details-bottom {
  opacity: 1;
  display: block;
  width: 100%;
  transition: all 0.5s ease;
  border: 1px solid #D9D9D9;
  border-top: none;
  border-radius: 0 0 12px 12px;
  padding: 8px 8px 12px 8px;
}

.blue-buttons {
  max-width: 36px;
  height: 36px;
  cursor: pointer;
}

.big-plus-btn {
  width: 36px;
  height: 36px;
  cursor: pointer;
}

/* __________________ End Card details  */

/* media queery for i pad */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  /* .modal-backdrop.fade.show {
      background-color: rgba(0, 0, 0, 0.5);
  } */

  .promo-banner .banner-content {
    position: relative;
    bottom: 70px;
  }

  .cart-modal-footer {
    padding: 20px 20px 0 20px;
  }

  .note-wrapper input {
    max-width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .scrollerdiv {
    padding-bottom: 13px;
    /* height: 70px;
    overflow: scroll; */
  }

  .modal {
    background: transparent !important;
  }

  .menu-list-wrapper .menu-list-item .accordion-body .small-view-img {
    width: 75%;
  }

  .menu-list-wrapper .menu-list-item .accordion-body {
    flex-direction: column;
  }

  .menu-list-wrapper .menu-list-item .accordion-body .small-view-img {
    margin-bottom: 15px;
  }
}

/* media querry for i phone */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .promo-banner p {
    display: none;
  }

  /* .banner-content.pb-20 {
    position: absolute;
    bottom: 32rem;
    width: 100%;
  } */

  .cart-modal-footer {
    padding: 20px 20px 0 20px;
  }

  .promo-banner {
    position: relative;
  }

  /* .banner-content.pb-20 {
    position: absolute;
    left: 0px;
    bottom: 0;
    margin-bottom: -1px !important;
    width: 100%;
  } */
}

@media screen and (max-width: 680px) {
  .promo-banner .img-icons>img {
    height: 290px;
  }

  /* .menu-list-wrapper .menu-list-item .item-content .item-inner-content {
    flex-direction: column;
    align-items: start;
  } */
  .icon-alergens {
    margin: 0;
  }

  .item-inner-content .icon-alergens .alerg-img {
    max-width: 23px;
    margin: 5px;
  }

  .menu-list-wrapper .menu-list-item .accordion-body .icon-alergens .alerg-img {
    max-width: 36px;
  }

  .icon-alergens .alerg-img {
    margin-left: 0;
    margin: 0 auto;
  }

  .menu-list-wrapper .menu-list-item .accordion-body h6 {
    margin-left: 0;
  }
}

@media screen and (max-width: 600px) {
  .promo-banner .img-icons>img {
    height: 250px;
  }

  .above-image .alerg-img {
    max-width: 28px;
    margin-left: 7px;
  }
}

@media screen and (max-width: 420px) {
  .width_head h2.menu-main-heading.mb-0 {
    width: 186px !important;
  }
}

@media screen and (max-width: 320px) {
  .width_head h2.menu-main-heading.mb-0 {
    width: 186px !important;
  }
}

@media screen and (min-width: 680px) { 

  .tab.open .item-img {
    height: 350px;
  }
}