.done-modal-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 35px 0px;
}

.done-modal-text p {
    margin: 0;
    font-family: "Plus Jakarta Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    width: 192px;
}