:root {
    --activeColor: #2B5270; // name set as per API response 
    --lightenColor: lighten(#2B5270, 20%);
    --arrowBackButtonColor: #000000;
}


$blue1: #2B5270;
$activeColor: var(--activeColor);
$activeColorLighten: $activeColor 20% ;
$DividerColor: var(--DividerColor);
$arrowBackButtonColor: var(--arrowBackButtonColor);