@media (min-width: 360px) {
  .payment-method,
  .tips,
  .total-amounts {
    padding: 20px 40px;
  }
  .tips {
    padding-bottom: 0;
  }
}

@media (min-width: 575px) {
  .now-tile .menu-list-wrapper .menu-list-item {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 767px) {
  .now-tile .menu-list-wrapper .menu-list-item {
    -ms-flex: 0 0 33.33%;
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
}

@media (min-width: 991px) {
  .now-tile .menu-list-wrapper .menu-list-item {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@media (max-width: 575px) {
  .products-modal .menu-list-item img {
    width: 65px;
    height: 65px;
    object-fit: cover;
  }
  .order-menu-tabs .nav-item {
    flex: 0 0 auto;
    max-width: none;
  }
  .header-main .navbar-toggler .navbar-toggler-icon,
  .header-main .navbar-toggler .navbar-toggler-icon::before,
  .header-main .navbar-toggler .navbar-toggler-icon::after {
    height: 3px;
    width: 20px;
  }
  .header-main .navbar-toggler .navbar-toggler-icon::before {
    width: 30px;
  }
  .header-main .navbar-toggler .navbar-toggler-icon::after {
    width: 23px;
  }
  .language-flag img {
    max-width: 22px;
  }
  .language-flag h4 {
    text-align: center;
    font-family: "Plus Jakarta Sans";
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.3px;
    text-transform: capitalize;
    margin: 0;
  }
  .order-menu-tabs .nav-item .nav-link {
    font-size: 11px;
    padding: 9px;
  }
  h2 {
    font-size: 16px;
    font-weight: 600;
  }
  /* .menu-list-item .item-img {
    max-width: 65px;
  } */
  /* .menu-list-item .item-content .item-inner-content h6 {
    font-size: 14px;
  } */
  .menu-list-item .item-content .item-inner-content .item-left-text p {
    /* font-size: 10px; */
  }
  .total-amounts p,
  .tip-amount p,
  .all-tips .tip-hd {
    font-size: 14px;
  }
  .butn {
    font-size: 14px;
    font-weight: 600;
    padding: 12px;
  }
  .payment-method {
    padding: 10px 20px;
  }
  .tips {
    padding: 10px 20px 0 20px;
  }
  .total-amounts {
    padding: 15px 20px;
  }
  .payment-method .sm-heading {
    margin-bottom: 10px;
  }
  .products-modal .modal-content .modal-header h4 {
    font-size: 16px;
  }
  .pay-radio {
    margin: 0;
  }
  .pay-radio .checkmark svg {
    margin-bottom: 5px;
    width: 20px;
  }
  .tip-amout li a {
    width: 30px;
    height: 30px;
  }
  .tip-amout li:nth-child(3) a {
    width: 32px;
    height: 32px;
  }
  .menu-bottom-bar {
    padding: 15px;
  }
  .cart-bar{
    bottom: 0px;
  }
}
@media only screen and (max-width: 500px) {
  .now-tile .menu-list-item .item-content .item-cart-wrapper {
    display: block !important;
    text-align: center;
  }
  .now-tile
    .menu-list-item
    .item-content
    .item-cart-wrapper
    .item-count-wrapper {
    justify-content: center;
  }
  .now-tile .add-cart-btn {
    margin-top: 10px;
  }
}
@media (max-width: 375px) {
  .menu-list-item.qty-open .item-content .item-cart-wrapper {
    padding: 10px 10px;
  }
  .item-count-wrapper .qty-btn {
    width: 28px;
    height: 28px;
  }
  .menu-list-item.qty-open .item-content .item-cart-wrapper .add-cart-btn {
    padding: 6px 18px;
    min-width: 70px;
  }
  .promo-cart-btn {
    max-width: 157px;
  }
}

@media (max-width: 320px) {
  .order-menu-tabs .nav-item .nav-link {
    padding: 9px;
  }
}
