/* Start Basics */

@import url("gaps.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  word-wrap: break-word;
}

:root {
  --color-blue: #0099ff;
  --white: #ffffff;
  --color-orange: #ff9900;
  --color-yellow: #fed304;
  --color-red: #e84b31;
  --color-dark: #403b3b;

  --color-tabred: rgb(218, 26, 53);
}

html,
body {
  height: 100%;
}

body {
  font-family: "Plus Jakarta Sans";
  font-weight: 400;
  font-size: 14px;
  overflow-x: hidden !important;
  display: flex;
  color: var(--color-dark);
  flex-direction: column;
}

.addScroll {
  /* height: 93vh; */
  position: fixed;
  width: 100%;
  overflow-y: hidden;
  -webkit-overflow-scrolling: none;
}

#root {
  height: 100%;
}

/* .landing-pg {
  overflow-y: hidden;
} */

#main, #main-wrapper {
  height: 100%;
  overflow-y: hidden;
}

p {
  font-size: 16px;
  color: #4c4c4c;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: normal;
  margin: 0;
}

h2 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

a {
  color: #43546c;
}

a:hover {
  color: var(--color-blue);
  text-decoration: none;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

.container {
  width: 100% !important;
  max-width: 100% !important;
  padding: 0;
}

/* End Basics */

/*  Start Buttons */

button {
  border: 0;
}

/* 
.back-to-top {
  position: absolute;
  bottom: 110px;
  right: 10px;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
  opacity: 0;
}

.back-to-top.down {
  opacity: 1;
  bottom: 10px;
}

.back-to-top.down.openBottom {
  bottom: 90px;
} */

.overflow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  background-color: #FFF9F4;
  height: 56px;
}

.butn {
  font-size: 16px;
  border-radius: 100px;
  font-weight: 600;
  display: inline-block;
  padding: 17px 40px;
  text-align: center;
  border: 1px solid transparent;
  position: relative;
  z-index: 3;
  transition: all 0.4s;
  cursor: pointer;
  outline: none !important;
}

.butn-sm {
  padding: 6px 23px;
  display: inline-block;
  text-align: center;
  position: relative;
  z-index: 3;
  cursor: pointer;
  min-width: 90px;
}

.butn-orange {
  background: var(--color-orange);
  border-color: var(--color-orange);
  color: #fff;
}

.butn-orange:hover {
  background: var(--color-yellow);
  border-color: var(--color-yellow);
  color: #fff;
}

.butn-yellow {
  background: var(--color-yellow);
  border-color: var(--color-yellow);
}

.butn-white {
  background: #ffffff;
  border-color: #ffffff;
  color: var(--color-blue);
}

.butn-blue {
  background: var(--color-blue);
  border-color: var(--color-blue);
  color: #fff;
}

.butn-blue:hover {
  background: var(--color-blue);
  border-color: var(--color-blue);
  color: #fff;
}

.facebok-butn.butn.butn-blue {
  background: #e9e9e9;
  border-color: #ccc;
  color: #ccc !important;
}

.facebok-butn.butn.butn-blue span {
  color: #ccc !important;
}

.facebok-butn.butn.butn-blue svg {
  color: #ccc !important;
  fill: #ccc !important;
}

/* End Buttons */

/* font weight */

.font_500 {
  font-weight: 500;
}

/*End font weight */

@keyframes topToBottom2 {
  0% {
    bottom: 0;
  }

  100% {
    bottom: 80px;
  }
}

/* theme header */



/* Popup on success and error changed the color of the popups */
.Toastify .Toastify__toast-container {
  z-index: 99999999 !important;
}

.Toastify .Toastify__toast-container .Toastify__toast-theme--colored.Toastify__toast--success {
  background: #2E7D32;
}

.Toastify .Toastify__toast-container .Toastify__toast-theme--colored.Toastify__toast--error {
  background: #DC362E;
}

.Toastify .Toastify__toast-container .Toastify__toast-theme--colored.Toastify__toast--warning {
  background: #ED6C02;
}

.Toastify .Toastify__toast-container .Toastify__toast-theme--colored.Toastify__toast--info {
  background: #0288D1;
}

.react-slideshow-container .default-nav {
  display: none !important;
}

.discount-price {
  color: #9e9e9e;
  font-size: 12px;
  line-height: 15px;
  position: relative;
}

.discount-price::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  height: 1px;
  width: 100%;
  left: 0;
  background-color: #9e9e9e;
}

.active-oval {
  width: 11px;
  height: 11px;
  display: inline-block;
  position: absolute;
  background: var(--color-blue);
  border-radius: 50%;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  transition: all ease 1s;
  opacity: 0;
  visibility: hidden;
}

body.open .active-oval {
  opacity: 1;
  visibility: visible;
}

.promo-list-wrapper {
  margin: 0 -5px;
}

@media only screen and (min-width: 1600px) {
  /* .promo-body-wrapper {
    height: calc(100% - 531px);
  } */
}

.promo-list-wrapper .promo-list-item {
  padding: 0 5px;
  position: relative;
  flex: 0 0 33.33%;
  max-width: 33.33%;
}

.product-body-detail {
  border-top: 1px solid #e9e9e9;
  margin-top: 17px;
  padding-top: 17px;
}

.product-body-detail p {
  font-size: 12px;
  line-height: 15px;
  color: #9e9e9e;
  font-weight: 400;
}



/* checkbox css */

.custom-checkbox {
  margin-bottom: 6px;
  min-height: unset;
  line-height: normal;
}

.custom-checkbox .custom-control-input {
  width: auto;
  height: auto;
  z-index: 2;
}

.custom-checkbox .custom-control-label {
  font-weight: 700;
  font-size: 12px;
  color: var(--color-dark);
  line-height: 1;
}

.custom-checkbox .custom-control-label:before {
  width: 11px;
  height: 11px;
  border: 1px solid #e9e9e9;
  border-radius: 50%;
  box-shadow: unset;
  top: 1px;
  left: -1.5rem;
}

.custom-checkbox .custom-control-label::after {
  background-image: unset !important;
  display: none;
}

.custom-checkbox .custom-control-input:checked .custom-control-label::before {
  background-color: var(--color-blue);
  border-color: var(--color-blue);
  box-shadow: unset;
}

.custom-checkbox .custom-control-input:indeterminate~.custom-control-label::before {
  border: 1px solid #e9e9e9;
  background-color: #fff;
}

/* checkbox css */

.pay-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.pay-radio .checkmark {
  flex-direction: column;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #403b3b;
  cursor: pointer;
}

.pay-radio .checkmark svg {
  margin-bottom: 10px;
}

.pay-radio input:checked~.checkmark {
  color: #ff9900;
}

.pay-radio input:checked~.checkmark svg path {
  fill: #ff9900;
}

.tips {
  padding: 20px 20px 0 20px;
}

.all-tips {
  width: 100%;
  padding-right: 20px;
}

.all-tips .tip-hd {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.5px;
  color: #403b3b;
  margin-right: 20px;
}

.tip-amout li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border: 2px solid #0099ff;
  box-sizing: border-box;
  border-radius: 100px;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  color: #403b3b;
  margin-right: 10px;
}

.tip-amout li:last-child a {
  margin-right: 0;
}

.tip-amout li:first-child a {
  width: 24px;
  height: 24px;
  background: #fed848;
  border-color: #fed848;
}

.tip-amout li:nth-child(2) a {
  width: 30px;
  height: 30px;
  background: #fed848;
  border-color: #fed848;
}

.tip-amout li:nth-child(3) a {
  font-size: 16px;
  width: 36px;
  height: 36px;
  background: #ffeb9d;
  border-color: #fed848;
}


.modal {
  z-index: 9999999999;
  padding: 0 !important;
  overflow-y: auto;
  max-height: 100vh;
  background: #fff;
}

.preloader-wrap {
  position: fixed;
  background: #00000045;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
}

.preloader-wrap .preload-in {
  font-size: 50px;
}

.preloader-wrap .preload-in img {
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.fad.fa-spinner-third::after {
  content: "\10f3f4";
  color: #fff;
  opacity: 1;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.list-wrapper-inner {
  max-height: 100vh;
  overflow-x: auto;
}

.active_cat {
  border-bottom: 1px solid #e8e8e8;
  color: #403b3b;
  padding: 5px 5px 10px;
  font-size: 15px;
  border-radius: 0;
}

.modal-backdrop.show {
  opacity: 1 !important;
  z-index: 9 !important;
  background: rgba(0, 0, 0, 0.5);
}

/** loader **/

/* .loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  display: none;
  z-index: 5000;
} */

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/** End loader **/


.text-white {
  color: #fff;
}

.color-red {
  color: rgb(218, 26, 53);
}

.add_modal .fade.show {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.7);
}

.add_modal .modal-dialog {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  width: 100%;
}

.add_content {
  border: 3px solid var(--color-tabred);
  color: #000;
  padding: 10px;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
}


i.fal.fa-plus-circle {
  color: #da1a35;
  font-size: 23px;
}

.last-img {
  text-align: center;
}

.last-img img {
  width: 40px;
}

.text-container p {
  margin-top: 20px;
}

/* Modal Empty Css */
.modal-empty-wrapper {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 12;
  position: fixed;
  visibility: hidden;
}

.modal-empty {
  background: #ffffff;
  color: black;
  padding: 24px;
  border-radius: 16px;
  font-weight: 500;
  position: absolute;
  z-index: 999 !important;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 450;
  line-height: 150%;
  /* 18px */
  width: 279px;
  /* height: 125px;  */
  align-items: center;
  position: relative;
}

#modalEmpty .modal-empty {
  flex-direction: row;
  justify-content: flex-start;
}

.modal-empty .warning {
  margin-right: 12px;
}

.modal-empty .close-modal-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}

.ErrorOutline {
  margin-right: 12px;
}

.modal-close {
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 5px;
  background: #110c18;
  height: 23px;
  width: 24px;
  border-radius: 50px;
  text-align: center;
  font-size: 25px;
  line-height: 1;
}

/* Modal Delete Item Css */

.modal-delete-item-wrapper {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 12;
  position: fixed;
  visibility: hidden;
}

.modal-delete-item {
  background: white;
  color: black;
  padding: 10px 35px;
  border-radius: 10px;
  font-weight: 500;
  position: relative;
  padding-top: 30px;
  padding-bottom: 25px;
  border: 1px solid black;
  margin: 29px;
  font-size: 15px;
}

.modal-delete-item-close {
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 5px;
  height: 23px;
  width: 24px;
  border-radius: 50px;
  text-align: center;
  font-size: 25px;
  line-height: 1;
}

.modal-delete-item-confirm button {
  background-color: rgb(218, 26, 53);
  color: white;
  margin-top: 15px;
  padding: 6px 35px;
  border-radius: 50px;
  border: 0;
}

.move-menu {
  display: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.move-menu button {
  cursor: pointer;
  height: 30px;
  width: 30px;
  border-radius: 100px;
  background: #e7e7e7;
  border: 0;
  color: black;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  z-index: 10;
}

.move-menu-left {
  left: -7px;
}

.move-menu-right {
  right: -14px;
}

/* .cart-edit-img{
  position: relative;
}

.cart-edit-image a{
  position: absolute;
  top: 12px;
  left: 20px;

} */