.cart-modal-footer {
  padding: 20px 20px 0 20px;
}

.cart-modal-footer {
  margin-top: 10px;
   position: absolute;
    right: 0;
    background-color: white;
    transition: opacity ease 1s;
    opacity: 1;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 19;
    left: 0;
    padding: 14px 12px 18px;
    border-top: 1px solid #616161;
    bottom: 0;
}
.total-amounts {
  padding: 32px 21px 0 16px;
}

.total-amounts p,
.tip-amount p {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.5px;
  color: #403b3b;
}

.total-amounts .total-price {
  color: #0099ff;
}
.hideModalBottom{
  opacity: 0;
  display: none;
}
.showModalBottom {
  opacity: 1;
   transition-property: all; 
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 3500ms;
}

#placeOrderBtn {
  position: relative;
}

#placeOrderBtn .close-time {
  position: absolute;
  top: 0px;
  right: 10px;
}
