.order-banner {
    height: 128px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.order-banner .item-cart-wrapper {
    padding: 17px;
    border: 1px solid #e9e9e9;
    border-radius: 8px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    min-height: 78px;
    visibility: hidden;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
        #4f4f4f17;
    transition: all ease 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.order-banner.qty-open:hover .item-cart-wrapper {
    opacity: 1;
    visibility: visible;
}

.order-banner .item-cart-wrapper .item-count-wrapper .qty-btn {
    background: transparent;
    border: 2px solid #fff;
}

.order-banner .item-cart-wrapper .item-count-wrapper .qty-btn:before,
.order-banner .item-cart-wrapper .item-count-wrapper .qty-btn:after {
    background-color: #fff !important;
}

.order-banner .item-cart-wrapper .item-count-wrapper .qty {
    background-color: transparent;
    color: #fff;
}

.order-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.menu-list-item .item-content .item-cart-wrapper {
    padding: 17px;
    border: 1px solid #e9e9e9;
    border-radius: 8px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    min-height: 78px;
    visibility: hidden;
    background-color: #fff;
    transition: all ease 0.5s;
}

.menu-list-item.qty-open .item-content .item-cart-wrapper {
    opacity: 1;
    visibility: visible;
}

.now-tile .menu-list-item .item-content .item-cart-wrapper {
    bottom: 0;
    top: auto;
}

.item-cart-content h6,
.item-cart-content p {
    color: #fff;
    font-weight: 600;
}


.item-count-wrapper .qty-btn {
    width: 32px;
    height: 32px;
    position: relative;
    background: #ffffff;
    border: 2px solid #da1a35;
    border-radius: 50%;
}

.item-count-wrapper .qty-btn:focus {
    outline: none;
}

.item-count-wrapper .qty-btn::before,
.item-count-wrapper .qty-btn::after {
    content: "";
    height: 2px;
    width: 10px;
    position: absolute;
    display: block;
    background-color: #da1a35;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.item-count-wrapper .plus.qty-btn::after {
    transform: rotate(90deg);
}

.item-count-wrapper .qty {
    width: 28px;
    border: 0;
    text-align: center;
}

.now-tile .item-count-wrapper .qty-btn {
    width: 28px;
    height: 28px;
}