body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* @font-face {
 font-family: "SF Pro Text";
 src: local("SF Pro Text"),
  url("./assets/fonts/SF-Pro-Text/SF-Pro-Text-Regular.otf") format("opentype");
 font-weight: bold;
}
@font-face {
    font-family: "Arial Rounded MT Bold";
    src: url("https://db.onlinewebfonts.com/t/ef6bdf5ef216552c7e9869841e891ca0.eot");
    src: url("https://db.onlinewebfonts.com/t/ef6bdf5ef216552c7e9869841e891ca0.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/ef6bdf5ef216552c7e9869841e891ca0.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/ef6bdf5ef216552c7e9869841e891ca0.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/ef6bdf5ef216552c7e9869841e891ca0.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/ef6bdf5ef216552c7e9869841e891ca0.svg#Arial Rounded MT Bold")format("svg");
} */