// APPLY ON MENU
.order-menu-tabs {
    .nav-item {
        .nav-link {
            &.active {
                padding: 8px 18px;
                background-color: var(--activeColor, #E7A536);
                border-radius: 24px;
                color: #fff;
                font-weight: 600;
                box-shadow: none;
                transition: all 350ms cubic-bezier(0.32, 0.72, 0, 1);
            }
        }
    }
}

.bottom-clear-buttons .clearAll-allergens {
    margin-bottom: 0;
    color: black;
    border-bottom: 1px solid black;
    font-family: "Plus Jakarta Sans";
    font-size: 16px;
    line-height: 21px;
    font-weight: 500;
}

.bottom-clear-buttons .apply-allergens {
    color: white;
    background-color: var(--activeColor, #E7A536);
    border-radius: 10px;
}

.cancel-request-bill {}

.confirm-request-bill {
    color: white;
}

.checking-input .form-check-input:checked {
    background-color: white;
}

// Search input field — simplified
.search {
    position: absolute;
    left: 13px;
    width: 95%;
    height: 100%;

    &__border {
        position: absolute;
        left: 0%;
        width: 19px;
        height: 19px;
        border: 2px solid var(--activeColor, #E7A536);
        border-radius: 13px;
        transition: all 0.2s ease;
        top: 17px;
        z-index: 5;

        #trigger:checked~& {
            width: 100%;
            height: 52px;
            border: 0.5px solid var(--border-light, #e5e7eb);
            background-color: white;
            top: 0;
            border-radius: 14px;

            &:after {
                width: 0;
                transition: width 0.2s ease;
            }
        }

        &:after {
            content: "";
            position: absolute;
            bottom: -2.1rem;
            right: -2rem;
            width: 8px;
            height: 2px;
            background: var(--activeColor, #E7A536);
            border-radius: 0.6rem;
            transform-origin: 100% 50%;
            transform: rotate(225deg) translateX(3rem);
            transition: width 0.15s ease;
        }
    }

    &__input {
        position: relative;
        width: 100%;
        height: 52px;
        padding: 0 20px 0px 53px;
        background: transparent;
        outline: none;
        border: none;
        font-family: "Plus Jakarta Sans";
        font-size: 18px;
        font-weight: 400;
        color: var(--text-primary, black);
        z-index: -1;
        opacity: 0;
        transition: opacity 0.2s ease;

        #trigger:checked~& {
            opacity: 1;
            z-index: 7;
            transition: opacity 0.15s 0.2s;
        }
    }

    &__icon {
        content: "";
        height: 52px;
        width: 52px;
        display: inline-block;
        background: url("../../assets/img/search_newDesign.svg") center center no-repeat;
        text-indent: -10000px;
        border: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        cursor: pointer;
        opacity: 0;
        transition: opacity .3s ease;

        #trigger:checked~& {
            opacity: 1;
            z-index: 6;
            transition: opacity 0.2s 0.2s;
        }
    }

    &__checkbox {
        position: absolute;
        top: -9999px;
        left: -9999px;
        opacity: 0;
        z-index: -10;
    }

    &__label-init {
        z-index: 6;
        position: absolute;
        top: 0;
        left: 0;
        width: 46px;
        height: 50px;
        cursor: pointer;

        #trigger:checked~& {
            transform: scale(0);
        }
    }

    &__label-active {
        z-index: 9;
        position: absolute;
        top: 10px;
        right: 10px;
        width: 3.5rem;
        height: 3.5rem;
        cursor: pointer;
        transform: scale(0);

        #trigger:checked~& {
            transition: transform 0 0.3s;
            transform: scale(1);
        }
    }

    &__close {
        position: absolute;
        top: 6px;
        right: 10px;
        width: 30px;
        height: 30px;
        cursor: pointer;
        z-index: -1;

        #trigger:checked~& {
            z-index: 5;

            &:before {
                transform: rotate(-45deg);
                opacity: 1;
                transition: transform 0.15s 0.25s ease, opacity 0.1s 0.25s;
            }

            &:after {
                transform: rotate(45deg);
                opacity: 1;
                transition: transform 0.15s 0.3s ease, opacity 0.1s 0.3s;
            }
        }

        &:before,
        &:after {
            content: "";
            position: absolute;
            top: 1.2rem;
            left: 0;
            width: 22px;
            height: 2px;
            background: var(--text-primary, #222);
            border-radius: 0.5rem;
            opacity: 0;
        }

        &:before {
            transform: rotate(-45deg) translateX(2rem);
            transition: transform 0.08s, opacity 0.08s 0.08s;
        }

        &:after {
            transform: rotate(45deg) translateX(2rem);
            transition: transform 0.08s 0.08s, opacity 0.08s 0.1s;
        }
    }
}


// ADD ICON

i.fal.fa-plus-circle {
    color: var(--activeColor, #E7A536) !important;
    font-size: 23px;
}

a.nav-link.cart-link span {
    color: var(--activeColor, #E7A536) !important;
}

.item-count-wrapper {

    .qty-btn {

        border: 2px solid var(--activeColor, #E7A536) !important;

        &:before {
            background-color: var(--activeColor, #E7A536) !important;
        }

        &:after {
            background-color: var(--activeColor, #E7A536) !important;
        }
    }

}

.form-check input[type="radio"] {
    border: 2px solid var(--activeColor, #E7A536) !important;
}

.form-check input[type="radio"]:checked {
    background-color: var(--activeColor, #E7A536) !important;
}

.checkbox {
    $block: &;

    cursor: pointer;
    display: flex;
    align-items: center;

    &__input {
        position: absolute;
        width: 18px;
        height: 18px;
        opacity: 0;
        cursor: pointer;

        &:checked+#{$block}__icon .tick {
            stroke-dashoffset: 0;
        }
    }

    &__icon {
        width: 18px;
        height: 18px;
        flex-shrink: 0;
        overflow: visible;

        .tick {
            stroke-dasharray: 20px;
            stroke-dashoffset: 20px;
            transition: stroke-dashoffset .2s ease-out;
        }
    }

    &__label {
        margin-left: 0.5em;
    }
}

// CART ITEM NUMBER

.menu-list-wrapper {
    .menu-list-item {
        .item-img {
            .count-number {
                background-color: var(--activeColor, #E7A536) !important;
            }
        }
    }
}

// ON HOVER - GRID VIEW PRODUCT

.now-tile {
    .menu-list-wrapper {

        .menu-list-item {
            .item-content {

                &:hover {
                    background: var(--activeColor, #E7A536) !important;
                }
            }
        }
    }
}

.info-msg {
    color: var(--activeColor, #E7A536) !important;

    span {
        svg {
            stroke: var(--activeColor, #E7A536) !important;
        }
    }
}

.modifiersbox {
    border-color: var(--activeColor, #E7A536) !important;
}

// BACK BUTTON - arrow HeaderTextColor.
.fal {
    color: $arrowBackButtonColor !important;
}
