.cart-bar {
  position: absolute;
  right: 0;
  background-color: white;
  transition: opacity ease 1s;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
  left: 0;
  padding: 14px 12px 18px;
  border-top: 1px solid #616161;
}

.open-cart .cart-bar {
  opacity: 1;
  visibility: visible;
}

.cart-bar-content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-bar-content .icon-text-left {
  display: flex;
  align-items: center;
  position: relative;
  color: black;
}

.icon-text-left .close-time {
  position: absolute;
  top: -17px;
  left: 0;
}

.close-time span {
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: "Plus Jakarta Sans";
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 13px;
  /* 130% */
  letter-spacing: 0.07px;
}

.cart-bar-content .products {
  text-align: center;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  margin-left: 6px;
  margin-bottom: -5px;
}

.cart-bar-content .cart-price {
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: "Plus Jakarta Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  width: 20%;
  text-align: right;
}

.touchmove .cart-bar {
  opacity: 1;
}

.hideOnScroll {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
}

.continue-float-btn {
  padding: 13px 16px;
  color: #FFF;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  border-radius: 8px;
  background: var(--Primary-main, #E7A536);
}

.hideOnScroll.toBottom {
  bottom: 0;
}

