.order-list-body {
  padding-bottom: 10px;
  position: relative;
  padding: 0 16px;
  margin-bottom: 0;
  background: var(--bg-primary, white);
  overflow-y: hidden;
  scroll-behavior: smooth;
}

.order-list-body .menu-item-wrapper {
  padding-bottom: 80px;
}

@media only screen and (min-width: 600px) {

  /* .order-list-body {
    max-height: calc(100% - 170px);
  }

  .open-cart .order-list-body {
    max-height: calc(100% - 340px);
  } */
  .order-list-body {
    max-width: 1080px;
    margin: 0 auto;
  }
}