#language-modal {
  display: none !important;
  opacity: 0;
  justify-content: center;
  align-items: flex-end;
  animation: scaleUp 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#language-modal .container {
  padding: 0;
  margin: 0;
  max-width: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
}

#language-modal .modal-dialog {
  margin: 0;
  max-width: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
}

#language-modal .modal-content {
  width: 100%;
  border-radius: 20px 20px 0 0;
  border: none;
}

#language-modal .modal-body {
  max-height: 80vh;
  overflow-y: auto;
  padding: 20px 24px;
}

#language-modal .modal-body p {
  margin: 4px 4px 24px;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

#language-modal .modal-body .img-flag {
  margin-right: 32px;
  box-shadow: none;
}

#language-modal .modal-body span {
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  /* 200% */
}

#language-modal .modal-footer {
  display: flex;
  justify-content: center;
  padding: 17px;
}

#language-modal .modal-footer button:first-child {
  background-color: white;
  color: #E7A536;
  margin-right: 20px;
}

#language-modal .modal-footer button:last-child {
  background-color: #E7A536;
  color: white;
}

#language-modal .modal-footer button {
  max-width: 160px;
  padding: 12px 0;
  border: 1px solid #E7A536;
  border-radius: 8px;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  width: 45%;
}

#language-modal.show {
  opacity: 1;
  display: flex !important;
  justify-content: center;
  align-items: flex-end;
  background: rgba(0, 0, 0, 0.5);
}

.language-flag {
  background-color: transparent;
}

#language-modal .modal-content .modal-header h4 {
  width: 100%;
  font-family: "Plus Jakarta Sans";
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
  text-align: left;
  margin: 0;
  margin-left: 13px;
}

#language-modal .modal-dialog #modal-content {
  height: auto;
  max-height: 85vh;
}

#language-modal .modal-dialog #modal-content .modal-body {
  background-color: white;
}

/* Dropdown Button */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #ffffff;
  color: black;
  font-size: 16px;
  border: none;
  cursor: pointer;
  padding: 17px 14px;
  border-radius: 8px;
  width: 100%;
  border: 1px solid #BEC2C7;
  text-align: left;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  width: 100%;
  position: absolute;
  z-index: 1;
  /* bottom: 0; */
  /* right: 8px; */
  padding: 5px 0;
  margin: 0;
  box-sizing: border-box;
  border-radius: 5px;
  max-height: 200px;
  overflow-y: auto;
  background: rgba(255, 255, 255, 0.54);
  box-shadow: none;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

/* Links inside the dropdown */
.dropdown-content button {
  color: black;
  padding: 10px;
  text-decoration: none;
  display: block;
  cursor: pointer;
  width: 100%;
  text-align: left;
  background-color: transparent;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  text-align: left;
}

.dropdown-content .selected {
  background-color: #E7A536;
  color: white;
  border-radius: 5px;
}

/* Change color of dropdown links on hover */
.dropdown-content button:hover {
  /* background-color: transparent; */
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  text-align: left;
}

.dropdown:hover {
  /* border: 2px solid #E7A536; */
  border-radius: 8px;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: white;
}

#language-modal .checked-icon {
  margin-right: 10px;
}

#language-modal .dropbtn:before {
  content: '';
  display: block;
  height: 100vh;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
}

#language-modal .dropbtn:after {
  content: '';
  display: inline-block;
  float: right;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid currentColor;
  border-left: 2px solid currentColor;
  border-bottom-left-radius: 0px;
  transform: rotate(-45deg) translate(50%, 0%);
  transform-origin: center center;
  transition: transform ease-in-out 100ms;
  margin-top: 10px;
}

#language-modal .dropdown:hover .dropbtn:after {
  transform: rotate(135deg) translate(0%, 0%);
}

@keyframes scaleUp {
  0% {
    transform: scale(.8) translateY(1000px);
    opacity: 0;
  }

  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
  }
}