.menu-bottom-bar {
  background: #ffffff;
  padding: 11px 27px 16px;
  border-top: 1px solid #616161;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  max-width: 100%;
  margin: 0 auto;
  -webkit-box-shadow: 0px -15px 20px -21px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0px -15px 20px -21px rgba(0, 0, 0, 0.13);
  box-shadow: 0px -15px 20px -21px rgba(0, 0, 0, 0.13);
  /* border-radius: 12px 12px 0px 0px; */
}


/* a.nav-link.cart-link span {
   color: #da1a35;
} */


.btnBottom {
  background-color: inherit;
}

.hideOnScroll {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
}

.hideOnScroll.down {
  bottom: -7rem;
}

.count {
  position: relative;
}

.count .close-time {
  position: absolute;
  top: -6px;
  right: -20px;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: "Plus Jakarta Sans";
  font-size: 8px;
  font-style: normal;
  font-weight: 600;
  line-height: 13px;
  /* 162.5% */
  letter-spacing: 0.07px;
}